# Sämtliche temporären Latex Datein
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg
build/
dist/
out/
.cache/
# 3D Druck
*.gcode
*.stl
# Data Datein
*.csv
*.xlsx
*.xls
# Virtuelle Umgebung
.env
.env.*
venv/
.env/
.venv/


*.key
*.pem
*.p12
secrets.*
credentials.*

# Betriebssystem / Editor-Müll
.DS_Store
Thumbs.db
desktop.ini

# vsc
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json

#Python
__pycache__/

# Ordner
3D_Druck/